<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
namespace:命名空间:做唯一区分
 -->
 <!-- userGeneratedKeys：(只对insert有用)这会告诉mybatis使用JDBC的getGeneratedKey
 		 方法类取出由数据（比如：像mysql和sqlserver这样的数据库管理系统的自动递增字段） -->
 <mapper namespace="fuzzy">
 <select id="demoLine" parameterType="string" resultType="Emp1">
 	select * from empl where ename like#{ename}
 </select>
 <!-- 调用存储过程 -->
 <select id="demoCallAble" parameterMap="mapDemo" statementType="CALLABLE">
 call p_emp(?,?)
 
 </select>
 <parameterMap type="java.util.Map" id="mapDemo">
 <!-- 指定输入参数 -->
 <!-- 
 	property:在测试过程中的Map对象中的Key值
 	mode：模型类型 IN输入参数 INOPUT 输入输出参数OUT输出参数
 	jdbcType：JDBC支持的数据类型，与JAVA对象类型一直匹配
  -->
 <parameter property="job" mode="IN" jdbcType="CHAR"/>
 <parameter property="count" mode="OUT" jdbcType="INTEGER"/>
 
 </parameterMap>
 <!-- 动态sql语句 -->
 <select id="demoif" parameterType="Emp" resultType="Emp">
 select * from empl where 
 	<if test="ename!=null">
 		 ename = #{ename}
 	</if>
 </select> 
 <select id="demoWhen" resultType="Emp1">
 select * from empl where 1=1
 <choose>
 	<when test="ename!=null">
 		and ename = #{ename}
 	</when>
 	<when test="comm!=null or comm!=0.0">
 		and comm =#{comm}
 	</when>
 	<when test="job!='clerk'">
 		and job =#{job}
 	</when>
 </choose>
 </select>
 
 <select id="demoTrim" resultType="Emp1">
 select * from empl
 <!-- 加where 去第一个and 不气第二个and -->
 <trim prefix="where" prefixOverrides="and">
 
 	<if test="ename!=null">
 		 ename=#{ename}
 	</if>
 	<if test="job!='student'">
 		and job=#{job}
 	</if>
 </trim>
 </select>
 <update id="demoSet" parameterType="Emp1">
 update empl 
 <set>
 	<if test="ename!=null">
 		ename =#{ename},
 	</if>
 	<if test="job!=null">
 	job=#{job},
 	</if>
 	<if test="sal!=0">
 		sal=#{sal},
 	</if>
 	<if test="comm!=0">
 		comm=#{comm}
 	</if>
 	<where>
 		<if test="empno!=null">
 			empno=#{empno}
 		</if>
 	</where>
 </set>
 </update>
 
 </mapper>
 