<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
namespace:命名空间:做唯一区分
 -->
 <!-- userGeneratedKeys：(只对insert有用)这会告诉mybatis使用JDBC的getGeneratedKey
 		 方法类取出由数据（比如：像mysql和sqlserver这样的数据库管理系统的自动递增字段） -->
 <mapper namespace="Three">
 <!-- 一次查询 -->
<select id="selectOne" parameterType="int" resultMap="class_teacher">
 	select * from class c, teacher t 
 	where c.tid=t.tid and cid=#{cid}
 </select>
 <resultMap type="Class" id="class_teacher">
 <id column="cid" property="cname"/>
 <result column="cname" property="cname"/>
 
 <!-- 体现一对一的映射关系 -->
 <association property="teacher" javaType="Teacher">
 <id column="tid" property="tid"/>
 <result column="tname" property="tname"/>
 </association>
 </resultMap>
 
 <select id="selectTwo" parameterType="int" resultMap="sc">
select * from class where cid=#{cid} 
 </select> 	
 <resultMap type="class" id="sc">
 <id column="cid" property="id"/>
 <result column="cname" property="cname"/>
 <!-- 
 	select:查询的值给那个select标签的sql语句引用
 	column：取出已查询出的那个列的值
  -->
  <association property="teacher" select="selectT1" column="tid" >
  </association>
 </resultMap>
 <select id="selectT1" parameterType="int" resultType="Teacher">
		select * from teacher where tid=#{tid} 
 </select>  
 </mapper>