<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="pb.properties"></properties>
	<typeAliases>
		<package name="cn.com.mybatis.cache"/>
	</typeAliases>
	<environments default="development">
	<environment id="development">
		<transactionManager type="JDBC"></transactionManager>
		<dataSource type="POOLED">
			<property name="driver" value="${diver}"/>
			<property name="url" value="${url}"/>
			<property name="username" value="${username}"/>
			<property name="password" value="${paassword}"/>
			
		</dataSource>
	</environment>
	</environments>
	<mappers>
	
	<mapper resource="cn/com/mybatis/cache/stuMapper.xml"/>
	
	
	</mappers>
</configuration>