<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cond">
<!-- 范围查询 -->
<select id="selectM" parameterType="CondSal" resultType="Emp">
	select * from empl where sal>=#{minSal} and sal&lt;=#{maxSal}
</select>


</mapper>